<li class="dealer-locator__entry" hook="sidebar-entry" data-id="{{id}}" onClick="dtm_tracking_link_ShowRetailerBubble();">
	<span class="dealer-locator__entry__letter">{{letter}}</span>
	<span class="dealer-locator__entry__name">{{name}}</span>
	<span class="dealer-locator__entry__distance"><i></i>{{distance}}</span>
	<span class="dealer-locator__entry__address">{{address}}<br />{{city}}</span>
	<div><button class="button" data-outletcode="{{outletcode}}" hook="dealer-locator-button">Service-Partner wählen</button></div>
</li>