{{#each footer.metapages}}
    <section class="metapages-page metapages--overlay" id="metapage-{{class}}">

        <div class="overlay-container">
          <a class="btnClose button-white button-OverlayClose"></a>

            <div class="overlay-container--content">
                <h1>{{title}}</h1>
                <p>{{text}}</p>
            </div>
        </div>
    </section>
{{/each}}
<nav class="m-top--anchor">
    <a href="#">Top</a>
</nav>
<div class="m-footer">
    <nav>
        {{#each footer.navElements}}
            {{#if id}}<a class="a-link a-link--footer{{#if class}} {{class}}{{/if}}"
                      id="openMeta"   data-url="metapage-{{id}}">{{alias}}</a> {{else}}
                <span class="a-link {{#if class}} {{class}}{{/if}}">{{alias}}</span> {{/if}}
        {{/each}}
    </nav>
</div>
