<div class="m-header hpIndex">
  <picture>
    <source media="(min-width: 980px)" srcset="{{image_Logo.src}}">
    <source media="(min-width: 768px)" srcset="{{image_Logo.src}}">
    <source media="(min-width: 480px)" srcset="{{image_LogoM.src}}">
    <img class="m-header__logo" src="{{image_LogoM.src}}" alt="{{image_LogoM.alt}}">
  </picture>
  <nav class="m-login--anchor">
    <a href="#anchor-mainLoginForm">Login</a>
  </nav>
</div>
