<div class="m-mainText">
      <h2 class="m-mainText__title">{{mainText.title.line1}} <span>{{mainText.title.line2}}</span></h2>
      <p class="m-mainText__text">{{mainText.text.para1}}</p>
      <p class="m-mainText__text">{{mainText.text.para2}}</p>
      <p class="m-mainText__text">{{mainText.text.para3}}</p>
  </div>
</div>