  <div class="mainContact__list">
      <ul>
          <li><p><a href="{{contactLinks.link1.link}}" alt="{{contactLinks.link1.linktext}}" title="{{contactLinks.link1.linktext}}">{{contactLinks.link1.linktext}}</a></p></li>
          <li><p><a href="{{contactLinks.link2.link}}" alt="{{contactLinks.link2.linktext}}" title="{{contactLinks.link2.linktext}}">{{contactLinks.link2.linktext}}</a></p></li>
          <li><p><a href="{{contactLinks.link3.link}}" alt="{{contactLinks.link3.linktext}}" title="{{contactLinks.link3.linktext}}">{{contactLinks.link1.linktext}}</a></p></li>
      </ul>
  </div>