<div class="m-mainLeftCol">
  {{{include this path="mainImage"}}}
  {{{include this path="mainFlag"}}}
  <div class="m-mainText">
      <h1 class="m-mainText__title">{{mainText.title.line1}}<br>{{mainText.title.line2}}</h1>
      <p class="m-mainText__text">{{mainText.text}}</p>
  </div>
</div>
{{{include this path="mainForm"}}}
<div class="overlay--bg" id="fade"></div>
