<section class="js-personalData p-personalData">
    <h3 class="p-personalData__title">{{title}}</h3>
    <div class="p-personalData__text-wrapper">
        <div class="p-personalData__textboxes">
            {{#each textboxTextsLeft}}
                <div class="row">
                    {{#each items}}
                        <div class="col col--{{size}}">
                            {{#if radio}}
                                <label class="js-radiobutton__label a-radiobutton__label">
                                    {{#with input}}
                                        <input class="js-radiobutton__input a-radiobutton__input" type="{{type}}"
                                               value="{{value}}"
                                               name="{{name}}" id="{{id}}">
                                    {{/with}}
                                    <div class="js-radiobutton a-radiobutton">
                                        <span>{{label}}</span>
                                    </div>
                                </label>
                            {{else}}
                                <div class="js-textbox textbox{{#if modifier}} textbox--{{modifier}}{{/if}}">
                                    {{#with input}}
                                        <input class="js-textbox__input a-textbox__input" type="{{type}}"
                                            {{#if ../label}} placeholder="{{../label}}*"{{/if}}
                                            {{#if maxlength}} maxlength="{{maxlength}}"{{/if}}
                                            {{#if inputSize}} size="{{inputSize}}"{{/if}}
                                            {{#if name}} name="{{name}}"{{/if}}
                                            {{#if id}} id="{{id}}"{{/if}}
                                        >
                                    {{/with}}
                                    <label class="js-textbox__label a-textbox__label" for="{{id}}">{{label}}*</label>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
        <div class="p-personalData__textboxes">
            {{#each textboxTextsRight}}
                <div class="row">
                    {{#each this}}
                        <div class="col{{#if size}} col--{{size}}{{/if}}">
                            <div class="js-textbox a-textbox">
                                <input class="js-textbox__input a-textbox__input" type="text" placeholder="{{label}}"
                                    {{#if input.size}} maxlength="{{input.size}}" size="{{input.size}}" {{/if}}
                                       name="personalData[{{label}}]" id="personalData-{{this}}">
                                <label class="js-textbox__label a-textbox__label"
                                       for="personalData-{{label}}">{{label}}</label>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</section>
